<div class="row">
    <div class="col-lg-12 margin-tb">
        <div class="pull-left">
            <h1>Requests</h1>
        </div>
        <div class="pull-right" style="padding-top:30px">
            <div class="box-tools" style="display:inline-table">
                <div class="input-group">
                    <!--<input type="text" class="form-control input-sm ng-valid ng-dirty" placeholder="Search" ng-change="searchDB()" ng-model="searchText" name="table_search" title="" tooltip="" data-original-title="Min character length is 3">-->
                    <!--<span class="input-group-addon">Search</span>-->
                </div>
            </div>
        </div>
    </div>
</div>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
    <tr>
        <th>Service</th>
        <th>Soap Action</th>
        <th>Request body</th>
        <th>Time</th>
        <th>Code</th>
        <th>Project ID</th>
        <th width="90px">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="value in data | itemsPerPage:5 |  orderBy: 'created_at': true" total-items="totalItems">
        <td>{{ value.service }}</td>
        <td>{{ value.soap_action }}</td>
        <td class="xml-content">{{ value.body }}</td>
        <td title="{{value.created_at}}">{{ value.created_at }}</td>
        <td>{{ value.request_code }}</td>
        <td>
            {{ value.project_id != 0 ? value.project_id : "" }}
            <a data-toggle="modal" data-target="#get-projects"
               ng-show="value.project_id == 0"
               ng-click="bindProjectPopUp(value,$index)">Bind with a project</a>
        </td>
        <td>
            <a ng-click="goToResponse(value)" href="#/response/{{value.id}}/create" class="btn btn-primary">Create</a>
            <br><br>
            <a ng-click="goToResponse(value)" href="#/response/{{value.id}}/edit" class="btn btn-primary">Edit</a>
            <br><br>
            <button ng-click="remove(value,$index)" class="btn btn-danger">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<dir-pagination-controls class="pull-right" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.html" ></dir-pagination-controls>



<!-- Edit Modal -->
<div class="modal fade" id="get-projects" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="editItem" role="form" ng-submit="bindProject()">
                <input ng-model="form.id" type="hidden" placeholder="Name" name="name" class="form-control" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add project</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="project-list">Projects list:</label>
                                    <select
                                            class="form-control"
                                            name="project-list"
                                            id="project-list"
                                            ng-model="projectId">

                                        <!--ng-options="project.id as project.name for project in data.projects"-->

                                        <!--<option value="">Will select...</option>-->
                                        <option value="{{project.id}}" ng-repeat="project in data.projects">
                                            Name: {{project.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" ng-disabled="!projectId" class="btn btn-primary create-crud">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>